/* Coupled with footer, hopefully sticks to the bottom of the page */

body {
    height: 100vh;
}

/* Pushes the brand/name to full width at nav below it at certain window sizes */
@media only screen and (max-width: 767px) {
    a.myName {
        margin-right: 0;
        width: 100%;
    }
  }


/* Attempts to get the footer to stick to the bottom */

.footer {
    position: sticky;
    clear: both;
    bottom: 0;
    width: 100%;
    line-height: 80px;
    margin-top: 100px;
}