/* Coupled with footer, creates page height to stick footer to the bottom of the page */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


/* Pushes the brand/name to full width at nav below it at certain window sizes */

@media only screen and (max-width: 767px) {
    a.myName {
        margin-right: 0;
        width: 100%;
    }
  }


/* Places footer on the bottom of the page and adds height */

.footer {
    flex-shrink: 0;
    padding: 20px 0px;
}
